@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="" class="me-2" @onclick='() => ChangeLanguage("en")' @onclick:preventDefault>🇬🇧</a>
            <a href="" class="me-2" @onclick='() => ChangeLanguage("fr")' @onclick:preventDefault>🇫🇷</a>
            <a href="" @onclick='() => ChangeLanguage("nl")' @onclick:preventDefault>🇳🇱</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private void ChangeLanguage(string culture)
    {
        var redirect = Uri.EscapeDataString(new Uri(NavigationManager.Uri).GetComponents(UriComponents.PathAndQuery, UriFormat.Unescaped));
        NavigationManager.NavigateTo($"Culture/Set?culture={culture}&redirectUri={redirect}", forceLoad: true);
    }
}
